# 这几个目录目前只是参考资料，不纳入当前仓库版本管理
/Fast-Drone-250-master/
/MAVROS参考脚本文件/
/FAST_LIO/
/LiDAR_IMU_Init/
/catkin_ws/src/FAST_LIO/
/catkin_ws/src/LiDAR_IMU_Init/

# Python 运行缓存
**/__pycache__/
*.pyc

# ROS 常见构建产物
/catkin_ws/build/
/catkin_ws/devel/
/catkin_ws/log/

# 常见数据与压缩包
*.bag
*.zip
