<launch>
  <arg name="takeoff_altitude" default="2.0" />
  <arg name="forward_distance" default="1.0" />
  <arg name="takeoff_hover_time" default="2.0" />
  <arg name="waypoint_hover_time" default="3.0" />
  <arg name="auto_start_mavros" default="true" />
  <arg name="fcu_url" default="/dev/ttyACM0:115200" />

  <node pkg="cuadc_control"
        type="one_key_takeoff_forward_land.py"
        name="one_key_takeoff_forward_land"
        output="screen">
    <param name="takeoff_altitude" value="$(arg takeoff_altitude)" />
    <param name="forward_distance" value="$(arg forward_distance)" />
    <param name="takeoff_hover_time" value="$(arg takeoff_hover_time)" />
    <param name="waypoint_hover_time" value="$(arg waypoint_hover_time)" />
    <param name="auto_start_mavros" value="$(arg auto_start_mavros)" />
    <param name="mavros_fcu_url" value="$(arg fcu_url)" />
  </node>
</launch>
