<?xml version="1.0"?>

<model>
  <name>three_ground</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>yangmoulalala</name>
    <email>yangmoulalalagmail.com</email>
  </author>

  <description>
    An asphalt textured plane.
  </description>

</model>
