<launch>
    <arg name="odom_topic" default="/fastlio_odom_with_velocity" />
    <arg name="cmd_topic" default="/position_cmd" />
    <arg name="config_file" default="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />

    <node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
        <remap from="~odom" to="$(arg odom_topic)" />
        <remap from="~cmd" to="$(arg cmd_topic)" />
        <rosparam command="load" file="$(arg config_file)" />
    </node>
</launch>
