<?xml version="1.0"?>
<model>
  <name>iris_downward_cam</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_downward_cam.sdf</sdf>

  <author>
   <name>yangmoulalala</name>
   <email>yangmoulalala@gmail.com</email>
  </author>

  <description>
    A custom Iris model with a downward-facing camera.
  </description>
</model>
